<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="guide_lines" class="main_side">
    <div id="top_header">
      <h1>Guidelines</h1>
      <%= render 'shared/header-side' %>
    </div>
    <div class="right-con-inner">
      <%= render 'drop_down_mean' %>
      <div class="row">
        <div class="col-lg-8">
          <ul class="job_list">
            <%@job_lists.each do |job_list|%>
              <li id="title_of_job_<%= job_list.id%>">
                <div class="jobs"><%=job_list.title%></div>
                <div class="icon_blk dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= image_tag 'more.svg' %>
                </div>
                <ul class="remove dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li class="customjobclass pressactivelink"  id="<%= job_list.id%>">Remove</li>
                </ul>
                <span style="opacity:0;">
                <%= link_to 'Remove',delete_job_list_path(id: job_list),class: "pressactivelink removethis_#{job_list.id}", remote: :true%>
              </span>
              </li>
          <%end%>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="date-section">
            <div class="btn_blk">
              <button class="site_btn save_btn pop_btn" data-popup="add_jobs">Add Job</button>
            </div>
            <h3>December 23, 2021</h3>
            <p class="mb-2">Update Logs</p>
            <p class="fw_600 mb-2">11/12/2021</p>
            <p class="mb-3">Term & Conditions - Updated!</p>
            <hr class="hr">
            <p class="fw_600 mb-2">09/19/2021</p>
            <p>FAQ</p>
          </div>
        </div>
      </div>
    </div>
    <section class="popup" data-popup="add_jobs">
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="_inner">
                  <%= form_with url: job_list_guidelines_path do |form| %>
                  <h4 class="heading">Add Job List</h4>
                  <h5>Up to 30 characters</h5>
                  <hr class="hr">
                  <%= form.text_area :title, class: "input",placeholder: 'Input Here' %>
                  <div class="btn_blk modal_btn">
                    <button type="button" class="cancel">cancel</button>
                    <button  type="submit" class="save site_btn">Save</button>
                  </div>
                   <% end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>