<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="guide_lines" class="main_side">
    <div id="top_header">
      <h1>Guidelines</h1>
      <%= render 'shared/header-side' %>
    </div>
    <div class="right-con-inner">
      <%= render 'drop_down_mean' %>
      <div class="row">
        <div class="col-lg-8">
          <ul class="job_list">
            <%@job_lists.each do |job_list|%>
              <li id="title_of_job_<%= job_list.id%>">
                <div class="jobs"><%=job_list.title%></div>
                <div class="dropdown">
                  <div class="icon_blk dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag 'more.svg' %>
                  </div>
                  <ul class="remove dropdown-menu" aria-labelledby="dropdownMenuButton1 pressactivelink">
                    <li class="customjobclass" id="<%= job_list.id %>">
                      <%= link_to 'Remove', delete_job_list_path(id: job_list), class: "pressactivelink remove-job-list", remote: true, data: { job_id: job_list.id } %>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>
          </ul>
        </div>
        <div class="col-lg-4">
          <%= render 'paper_trail_section' %>
        </div>
      </div>
    </div>
    <section class="popup" data-popup="add_jobs">
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="_inner">
                  <%= form_with url: job_list_guidelines_path do |form| %>
                  <h4 class="heading">Add Job List</h4>
                  <h5>Up to 30 characters</h5>
                  <hr class="hr">
                  <%= form.text_area :title, class: "input",placeholder: 'Input Here',id:'myTextfield' %>
                  <div class="btn_blk modal_btn">
                    <button type="button" class="cancel">cancel</button>
                    <button  type="submit" class="save site_btn">Save</button>
                  </div>
                   <% end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
 <script>

$(document).ready(function() {
    var elem = $("#myTextfield");
    if (elem) {
        elem.keydown(function() {
            if (elem.val().length > 10)
                elem.val(elem.val().substr(0, 30));
        });
    }            
});
</script>