<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.2.0-pre.2/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.2.0-pre.2/maplibre-gl.css" rel="stylesheet" />
<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="school_pin" class="main_side">
      <div id="top_header">
        <h1>Pin</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row">
        <div class="col-3">
          <%= form_with model: @school_pin do |form| %>
            <div class="form_blk">
              <label for="">Name</label>
              <% if flash.alert.present? %>
                <span>
                  <%= show_school_pin_message(flash.alert,"Pin") %>
                </span>
              <% end %>
              <%= form.text_field :pin_name, class: "input" %>
            </div>
            <div class="form_blk">
              <label for="">Longtitude</label>
              <% if flash.alert.present? %>
                <span>
                  <%= show_school_pin_message(flash.alert,"Longtitude") %>
                </span>
              <% end %>
              <%= form.text_field :longtitude, class: "input" %>
            </div>
            <div class="form_blk">
              <label for="">Latitude</label>
              <% if flash.alert.present? %>
                <span>
                  <%= show_school_pin_message(flash.alert,"Latitude") %>
                </span>
              <% end %>
              <%= form.text_field :latitude, class: "input" %>
            </div>
            <div class="btn_blk " style="margin-top: 30px">
              <button type="submit" class="site_btn">Submit</button>
            </div>
          <% end %>
        </div>
        <div class="col-9">
          <div class="map_blk" id="earth_div">

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="https://www.webglearth.com/v2/api.js"></script>
<script>
    $(document).ready(function(){
      console.log('Hello');
      debugger
      var earth = new WE.map('earth_div');
      WE.tileLayer('https://api.maptiler.com/maps/hybrid/256/{z}/{x}/{y}.jpg?key=hVNasrAxfh6v5Fcj3eXN').addTo(earth);
      let pinsData = '<%= @school_pins&.map { |item| [item.longtitude, item.latitude, item.pin_name] } %>';
      pinsData = JSON.parse(pinsData.replaceAll("&quot;", '"'))
      let markersArr=[];
      const parent = document.getElementById('earth_div');
      pinsData.forEach ((item) => {
        let marker=  WE.marker([Number(item[1]), Number(item[0])]).addTo(earth);
        markersArr.push(marker)
        marker.bindPopup(`${item[2]}`, {maxWidth: 60}).openPopup();
      });
    })

    // var marker = WE.marker([51.5, -0.09]).addTo(earth);

    // var marker2 = WE.marker([30.058056, 31.228889]).addTo(earth);
    // marker2.bindPopup("<b>Cairo</b><br>Yay, you found me!", {maxWidth: 120, closeButton: false});

    // var markerCustom = WE.marker([50, -9], '/img/logo-webglearth-white-100.png', 100, 24).addTo(earth);

    // earth.setView([51.505, 0], 6);
</script>
<!-- <script>
  $(document).ready(function () {
      let pinsData = '<%= @school_pins&.map { |item| [item.id,item.longtitude,item.pin_name, item.latitude] } %>';
      pinsData = JSON.parse(pinsData.replaceAll("&quot;", '"'))
      var single_object = []
      for (let i = 0; i < pinsData.length; i++) {
          custom_object = {
              'type': 'Feature',
              'properties': {
                  'name': pinsData[i][2],
                  'iconSize': [30, 30]
              },
              'geometry': {
                  'type': 'Point',
                  'coordinates': [pinsData[i][3],pinsData[i][1]]

              }
          }
          console.log(custom_object)
          single_object.push(custom_object);
      }
      const key = 'hVNasrAxfh6v5Fcj3eXN';

      var map = new maplibregl.Map({
          container: 'map',
          style:
              'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
          center: [34.570868,40.297333],
          zoom: 5
      });
      var geojson = {
          'type': 'FeatureCollection',
          'features': single_object
      }


// add markers to map
      geojson.features.forEach(function (marker) {
// create a DOM element for the marker
          var el = document.createElement('div');
          el.className = 'marker';
          el.style.backgroundImage = "url('https://www.svgrepo.com/show/296931/push-pin.svg')";
          el.style.width = marker.properties.iconSize[0] + 'px';
          el.style.height = marker.properties.iconSize[1] + 'px';

          el.addEventListener('click', function () {
              window.alert(marker.properties.message);
          });


// add marker to map
          new maplibregl.Marker(el)
              .setLngLat(marker.geometry.coordinates)
              .addTo(map);
      });

  });
</script>
 -->
