<main>


  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="subAdmins" class="main_side">
      <div id="top_header">
        <h1>User List</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="top_blk">
        <div class="row">
          <div class="col-6">
            <ul class="top_blk_filters">
              <li>
                <div class="dropdown">
                  <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                    <div class="img_blk">
                      <%= image_tag 'filter.svg' %>
                    </div>
                    filters
                  </button>
                  <ul class="dropdown-menu">
                    <li><button type="button">All Data</button></li>
                    <li><button type="button">User's Info</button></li>
                    <li><button type="button">Vacant Land</button></li>
                    <li><button type="button"> Dream Address</button></li>
                    <li><button type="button">I Want to Buy</button></li>
                    <li><button type="button">I Want to Sell</button></li>
                  </ul>
                </div>
              </li>
              <li>
                <%= form_for :sub_admin, :url => {:controller => 'users_lists', :action => 'index'}, :html => {:method => 'get',id: 'searchformc', class: 'form_blk'} do |f| %>
                  <div class="icon_blk">
                    <%= image_tag 'search.svg' %>
                  </div>
                    <%= text_field_tag :search,nil, placeholder: 'Search',id: "csearchbtn", class: 'input',value: params[:search]%>
                  <% end %>
              </li>
              <li>
                <button type="button" class="filter">
                  <div class="img_blk">
                    <%= image_tag 'csv-file-icon.svg' %>
                  </div>
                  <%= link_to "Download CSV",users_lists_path(format: 'csv', search:params[:search])%>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn_blk">
          <button type="button" class="pop_btn" data-popup="add_subadmin">
            <div class="people_blk">
              <%= image_tag 'addPerson.svg' %>
            </div>
            Add
          </button>
        </div>
      </div>

      <div class="table_blk mt-5 pt-3">
        <table>
          <thead>
          <tr>
            <th style="width:12.2rem">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="me-2">
                Select all
              </div>
            </th>
            <th style="width: 19rem;">
              Name/Email
            </th>
            <th style="width:15.1rem">
              Phone No.
            </th>
            <th style="width:18.5rem">
              Username
            </th>
            <th style="width:14rem">
              Location
            </th>
            <th style="width: 14rem">
              Status
            </th>
          </tr>
          </thead>
          <tbody>
            <% if @all_users.exists? %>
              <% @all_users.each do |user| %>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <input type="checkbox" class="me-3">

                      <div class="img_blk">
                        <img src="assets/images/profilePic.svg" alt="">
                      </div>
                    </div>

                  </td>
                 
                  <td class=" user_name">
                    <p class="fw_500 mb-0">
                    <%= user.full_name %>
                    </p>
                    <p class="fw_400" style="color: #626262" style="color: #626262">
                      <%= user.email %>
                    </p>
                  </td>
                  <td><%= user.phone_number %></td>
                  <td><%= user.full_name %></td>
                  <td>
                    Washington, USA
                  </td>
                  <td>
                    <div class="d-flex align-items-center justify-content-between">
                          <% if user.active %>
                              <p class="mb-0" style="color:#93DF70;">Active</p>
                            <%else%>
                              <p class="mb-0" style="color:#df7074;">Disable Account</p>
                            <%end%>
                          <div class="more_btn_blk" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                               aria-expanded="false">
                            <%= image_tag 'more.svg' %>
                          </div>
                          <ul class="remove dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <% if user.active %>
                            <li>
                              <%= link_to "Disable account",api_v1_get_profile_path, :remote => true %></li>
                              <% else %>
                              <li>
                              <a class="dropdown-item" href="#">Active</a></li>
                              <%end %>


                          </ul>
                        </div>
                  </td>
                </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render 'shared/pagination', data: @all_users %>
      <section class="popup" data-popup="add_subadmin" >
        <div class="table_dv">
          <div class="table_cell">
            <div class="contain-fluid">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 col-sm-10">
                  <div class="_inner">
                    <!-- <button type="button" class="x_btn"></button> -->
                    <h4 class="heading">Add Sub Admins</h4>
                    <h5>Personal Data</h5>
                    <hr class="hr">
                    <form type="submit" class="sub_admin_form">
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">First Name</label>
                        <input type="text" class="input" placeholder="Input Here">
                      </div>
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Last Name</label>
                        <input type="text" class="input" placeholder="Input Here">
                      </div>
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Date of Birth</label>
                        <input type="text" class="input" placeholder="MM/DD/YY">
                      </div>
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Location</label>
                        <input type="text" class="input" placeholder="Input Here">
                      </div>
                      <h5>Personal Data</h5>
                      <hr class="hr">
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Email Address</label>
                        <input type="text" class="input" placeholder="@mail.com">
                      </div>
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Phone Number</label>
                        <input type="text" class="input" placeholder="+123">
                      </div>
                      <div class="form_blk d-flex align-items-center justify-content-between">
                        <label for="">Temporary Password</label>
                        <input type="text" class="input" placeholder="hcihwiy7e">
                      </div>
                    </form>
                    <div class="btn_blk modal_btn">
                      <button type="button" class="cancel">cancel</button>
                      <button type="button" class="save site_btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- dash -->


</main>