<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="profile" class="main_side">
    <div id="top_header">
      <h1>User Profile</h1>
      <%= render 'shared/header-side' %>
    </div>
    <div class="profile_banner">
      <div class="inner text-center">
        <div class="ico fill round">
            <%= image_tag @user&.avatar&.attached? ? @user&.avatar&.url : "", alt: "No image provided" %>
        </div>
        <div class="txt">
          <h5><%= @user&.full_name %></h5>
          <p><a href="mailto:<%= @user&.email %>"><%= @user&.email %></a></p>
          <p><a href="tel:<%=@user&.phone_number %>"><%= @user&.phone_number %></a></p>
          <p><%= @user&.address %></p>
        </div>
      </div>
    </div>
    <ul class="nav tab_blk text-center">
      <li>
        <a href="#DreamAddress" data-bs-toggle="tab" class="active">Dream Address</a>
      </li>
      <li>
        <a href="#BuyingPreference" data-bs-toggle="tab">Buying Preference</a>
      </li>
      <li>
        <a href="#SellingLists" data-bs-toggle="tab">Selling Lists</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="DreamAddress">
        <h3>User’s Dream Addresses</h3>
        <ul class="view_map_blk fs_5">
          <% @user&.dream_addresses.each do |record| %>
            <li>
            <div class="ico fill">
              <%= image_tag 'loginbg.jpg', alt: "No image " %>
            </div>
            <div class="txt">
              <p class="fw_600"><%= record.location %></p>
            </div>
            <div class="btn_blk">
              <a href="https://www.google.com/maps/dir//<%=record.latitude %>,<%= record.longitude%>/@<%=record.latitude %>,<%= record.longitude%>z" class="site_btn text text-decoration-underline" target="_blank">View in map</a>
            </div>
          </li>
          <%end%>
        </ul>
      </div>
      <div class="tab-pane fade" id="BuyingPreference">
        <h3>User’s Buying Preference</h3>
        <table class="list_table w-100">
          <tbody>
          <tr>
            <td>Budget</td>
            <td class="fw_600"><%= @user.user_preference&.price.is_a?(Hash) ? "#{ @user.user_preference&.price['min'] } to #{ @user.user_preference&.price['max'] }" : "No preference" %></td>
          </tr>
          <tr>
            <td>Bedrooms</td>
            <td class="fw_600"><%= @user.user_preference&.bed_rooms.is_a?(Hash) ? "#{ @user.user_preference&.bed_rooms['min'] } to #{ @user.user_preference&.bed_rooms['max'] }" : "No preference" %></td>
          </tr>
          <tr>
            <td>Bathrooms</td>
            <td class="fw_600"><%= @user.user_preference&.bath_rooms.is_a?(Hash) ? "#{ @user.user_preference&.bath_rooms['min'] } to #{ @user.user_preference&.bath_rooms['max'] }" : "No preference" %></td>
          </tr>
          <tr>
            <td>Property Type</td>
            <td class="fw_600"><%= @user.user_preference&.property_type %></td>
          </tr>
          <tr>
            <td>Property Styles</td>
            <td class="fw_600"><%= ([*@user.user_preference&.house_style] + [*@user.user_preference&.condo_style]).join(', ') %></td>
          </tr>
          <tr>
            <td>Min Lot Forntage</td>
            <td class="fw_600"><%= @user.user_preference&.lot_frontage.is_a?(Hash) ? "#{@user.user_preference&.lot_frontage['min']} #{@user.user_preference&.lot_frontage_unit}" : 'No preference' %></td>
          </tr>
          <tr>
            <td>Lot Size (<%= @user.user_preference&.lot_size_unit%>)</td>
            <td class="fw_600"><%= @user.user_preference&.lot_size.is_a?(Hash) ? "#{ @user.user_preference&.lot_size['min'] } to #{ @user.user_preference&.lot_size['max'] }" : "No preference" %></td>
          </tr>
          <tr>
            <td>Parking Spots Req.</td>
            <td class="fw_600"><%= @user.user_preference&.garage_spaces.is_a?(Hash) ? @user.user_preference&.garage_spaces['min'] : 'No preference' %></td>
          </tr>
          <tr>
            <td>Balcony</td>
            <td class="fw_600"><%= @user.user_preference&.balcony&.join(', ') || 'No preference' %></td>
          </tr>
          <tr>
            <td>Security</td>
            <td class="fw_600"><%= @user.user_preference&.security&.join(', ') || 'No preference'%></td>
          </tr>
          <tr>
            <td>Laundry</td>
            <td class="fw_600"><%= @user.user_preference&.laundry&.join(', ') || 'No preference'%></td>
          </tr>
          <tr>
            <td>Max Age</td>
            <td class="fw_600"><%= @user.user_preference&.max_age%></td>
          </tr>
          </tbody>
        </table>
        <div class="fig"><img src="assets/images/no_input_box.png" alt=""></div>
      </div>
      <div class="tab-pane fade" id="SellingLists">
        <h3>User’s Selling Lists</h3>
        <div class="dropdown profile_dropdown">
          <button class="site_btn text dropdown-toggle chevron fs_5 fw_600" data-bs-toggle="dropdown">House</button>
          <ul class="dropdown-menu">
            <li><button type="button">House</button></li>
            <li><button type="button">Condo</button></li>
            <li><button type="button">Vacant Land</button></li>
          </ul>
        </div>
        <script>
          $(function(){
              $(document).on("click", ".profile_dropdown > ul > li > button", function(){
                  let text = $(this).text();
                  $(this).parents(".profile_dropdown").find(".site_btn").html(text);
                  if (text == "House")
                  {
                      $("#hosue").attr('hidden',false);
                      $("#SellingLists1").attr('hidden',true);
                      $("#SellingLists2").attr('hidden',true);
                  }
                  else if(text == "Condo")
                  {
                      $("#hosue").attr('hidden',true);
                      $("#SellingLists1").attr('hidden',false);
                      $("#SellingLists2").attr('hidden',true);

                  }
                  else if(text == "Vacant Land") {
                      $("#hosue").attr('hidden', true);
                      $("#SellingLists1").attr('hidden', true);
                      $("#SellingLists2").attr('hidden', false);
                  }

              })
          })
        </script>

        <ul class="home_map_blk fs_5", id= 'hosue'>
          <% get_house_property_list(@user.id).each do |property| %>
          <li>
            <div class="ico fill"> <%= image_tag property.images.attached? ? property&.images&.first.url : "" %></div>
            <div class="txt">
              <%= link_to property_profile_users_data_path(id: property) do %>
              <h5><%= property.title%></h5>
              <%end%>
              <p class="fs_6"><%= property&.city%> <%= property&.country%> </p>
            </div>

          </li>
          <%end%>
        </ul>
        <ul class="home_map_blk fs_5", id= 'SellingLists1' hidden>
          <% get_condo_property_list(@user.id).each do |property| %>
          <li>
            <div class="ico fill">
              <%= image_tag property.images.attached? ? property&.images&.first.url : "" %></div>
            <div class="txt">
              <%= link_to property_profile_users_data_path(id: property) do %>
              <h5><%= property.title%></h5>
              <%end%>
              <p class="fs_6"><%= property&.city%> <%= property&.country%> </p>
            </div>

          </li>
          <%end%>
        </ul>
        <ul class="home_map_blk fs_5", id= 'SellingLists2' hidden>
          <% get_vacant_land_property_list(@user.id).each do |property| %>
          <li>
            <div class="ico fill">
              <%= image_tag property.images.attached? ? property&.images&.first.url : "" %></div>
            <div class="txt">
              <%= link_to property_profile_users_data_path(id: property) do %>
              <h5><%= property.title%></h5>
              <%end%>
              <p class="fs_6"><%= property&.city%> <%= property&.country%> </p>
            </div>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</section>
