<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="support_closers" class="main_side">
      <div id="top_header">
        <h1>Support Closers</h1>
        <?php require_once 'includes/header-side.php'; ?>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="top_blk">
            <li>
              <div class="dropdown">
                <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                  <div class="img_blk">
                    <%= image_tag 'filter.svg' %>
                  </div>
                  filters
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button">All Data</button>
                  </li>
                  <li>
                    <button type="button">User's Info</button>
                  </li>
                  <li>
                    <button type="button">Vacant Land</button>
                  </li>
                  <li>
                    <button type="button"> Dream Address</button>
                  </li>
                  <li>
                    <button type="button">I Want to Buy</button>
                  </li>
                  <li>
                    <button type="button">I Want to Sell</button>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <%= form_for :sub_admin, :url => {:controller => 'support_closers', :action => 'index'}, :html => {:method => 'get',id: 'searchformc', class: "form_blk"} do |f| %>
                <div class="icon_blk">
                  <%= image_tag 'search.svg' %>
                </div>
                <%= text_field_tag :search,nil, placeholder: 'Search',id: "csearchbtn", class: 'input',value: params[:search]%>
              <% end %>
            </li>
            <li>
              <button type="button" class="filter">
                <div class="img_blk">
                  <%= image_tag 'csv-file-icon.svg', alt: '' %>
                </div>
                <%= link_to "Download CSV",support_closers_path(format: 'csv', search: params[:search]) %>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="table_blk mt-5 pt-3">
        <table>
          <thead>
          <tr>
            <th style="width:12.2rem">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="me-2">
                Select all
              </div>
            </th>
            <th style="width: 19rem;">
              Name/Email
            </th>
            <th style="width:15.1rem">
              Phone No.
            </th>
            <th style="width:18.5rem">
              Profession
            </th>
            <th style="width:14rem">
              Ratings
            </th>
            <th style="width: 14rem">
              Status
            </th>
          </tr>
          </thead>
          <tbody>

          <% if @support_closer.exists? %>
            <% @support_closer.each do |record| %>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <input type="checkbox" class="me-3">

                    <div class="img_blk">
                      <%= image_tag record&.avatar&.url %>
                    </div>
                  </div>
                </td>
                <td class=" user_name">
                  <p class="fw_500 mb-0">
                    <%= record.full_name %>
                  </p>
                  <p class="fw_400" style="color: #626262" style="color: #626262">
                    <%= record.email %>
                  </p>
                </td>
                <td><%= record.phone_number %></td>
                <td><%= record&.professions&.first %></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="rating_blk me-2">
                      <%= image_tag 'rating.svg' %>
                    </div>
                    <%#= record.rating %> Need to do || Need to  Download the selected
                  </div>
                </td>
                <td>

                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0" id="active_user_<%= record.id %>" style="color:#93DF70;" <%= 'hidden' unless record.active %> >Active</p>
                    <p class="mb-0" id="deactive_user_<%= record.id %>" style="color:#df7074;" <%= 'hidden' if record.active%> >Disable Account</p>
                    <div class="more_btn_blk" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                         aria-expanded="false">
                      <%= image_tag 'more.svg' %>
                    </div>
                    <ul class="remove dropdown-menu px-5" aria-labelledby="dropdownMenuButton1">
                      <li <%= 'hidden' unless record.active%> class="pressdeactivelinkwith_<%=record.id %>">
                        <%= link_to 'Disable account',deactive_account_support_closer_path(id:  record),class: "pressdeactivelink",id: record.id, :remote => true %>
                      </li>
                      <li <%= 'hidden' if record.active%> class="pressactivelinkwith_<%= record.id %>">
                        <%= link_to 'Active',active_account_support_closer_path(id: record),id: record.id,class: "pressactivelink", remote: :true %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render 'shared/pagination' ,data: @support_closer%>
    </div>
  </section>
</main>
