<ul class="dropdown-menu">
  <li><button type="button">All Data</button></li>
  <li><button type="button"><%= link_to "User's Info", users_data_path %></button></li>
  <li><button type="button"><%= link_to "Vacant Land",buy_vacant_land_users_data_path%></button></li>
  <li><button type="button"> <%= link_to "Condo", buy_condo_users_data_path %></button></li>
  <li><button type="button"> <%= link_to "House", buy_house_users_data_path%></button></li>
  <li><button type="button"><%= link_to "Dream Address",dream_address_users_data_path %></button></li>
  <li><button type="button">I Want to Buy</button></li>
  <li><button type="button">I Want to Sell</button></li>
  <li><button type="button"><%= link_to "i Vacant Land",sell_vacant_land_users_data_path%></button></li>
  <li><button type="button"> <%= link_to "Condo", sell_condo_users_data_path %></button></li>
  <li><button type="button"> <%= link_to "House", sell_house_users_data_path%></button></li>
</ul>