<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="buy_house" class="main_side">
      <div id="top_header">
        <h1>User's All Data</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="top_blk">
            <li>
              <div class="dropdown">
                <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                  <div class="img_blk">
                    <%= image_tag 'filter.svg', alt: '' %>
                  </div>
                  filters
                </button>
                  <%= render 'shared/drop_down' %>
              </div>
            </li>
            <li>
              <%= form_for :sub_admin, :url => {:controller => 'support_closers', :action => 'index'}, :html => {:method => 'get',id: 'searchformc', class: "form_blk"} do |f| %>
                <div class="icon_blk">
                  <%= image_tag 'search.svg' %>
                </div>
                <%= text_field_tag :search,nil, placeholder: 'Search',id: "csearchbtn", class: 'input',value: params[:search]%>
              <% end %>
            </li>
            <li>
              <button type="button" class="filter">
                <div class="img_blk">
                  <%= image_tag 'csv-file-icon.svg', alt: '' %>
                </div>
                <%= link_to "Download CSV",support_closers_path(format: 'csv', search: params[:search],checkbox_value:""),id: "downloadbtncustom" %>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="table_blk">
        <table class="mt-5">
          <thead>
          <tr>
            <th style="width: 18.7rem">
              Full Name
            </th>
            <th style="width: 17.2rem">
              Email Address
            </th>
            <th style="width: 20.6rem">
              Phone No.
            </th>
            <th style="width: 17.1rem">
              Real State Agent
            </th>
            <th style="width: 22.5rem">
              Address
            </th>
            <th style="width: 26.3rem">
              Bio
            </th>
            <th style="width: 26rem">
              Dream Address
            </th>
            <th style="width: 19.1rem">
              Property Type
            </th>
            <th style="width: 16.9rem">
              Price Range
            </th>
            <th style="width: 16rem">
              Min Bedrooms
            </th>
            <th style="width: 20.1rem">
              Min Bathrooms
            </th>
            <th style="width: 19.9rem">
              Property Types
            </th>
            <th style="width: 18rem">
              Property Styles
            </th>
            <th style="width: 19.1rem">
              Min Lot Forntage
            </th>
            <th style="width: 12.9rem">
              Lot Size
            </th>
            <th style="width: 16rem">
              Living Space
            </th>
            <th style="width: 20.1rem">
              Parking Spots Req.
            </th>
            <th style="width: 19.9rem">
              Garage Spots Req.
            </th>
            <th style="width: 13.3rem">
              Max Age
            </th>
            <th style="width: 17.2rem">
              Property Type
            </th>
            <th style="width: 20.6rem">
              Price Range
            </th>
            <th style="width: 17.1rem">
              Min Bedrooms
            </th>
            <th style="width: 24.5rem">
              Min Bathrooms
            </th>
            <th style="width: 22.3rem">
              Property Types
            </th>
            <th style="width: 18.6rem">
              Property Styles
            </th>
            <th style="width: 16rem">
              Living Space
            </th>
            <th style="width: 20.1rem">
              Parking Spots Req.
            </th>
            <th style="width: 12.8rem">
              Balcony
            </th>
            <th style="width: 13rem">
              Security
            </th>
            <th style="width: 13rem">
              Laundry
            </th>
            <th style="width: 12.2rem">
              Max Age
            </th>
            <th style="width: 17.2rem">
              Property Type
            </th>
<!--            <th style="width: 21.3rem">-->
<!--              Price Range-->
<!--            </th>-->
<!--            <th style="width: 19.1rem">-->
<!--              Min Lot Forntage-->
<!--            </th>-->
            <th style="width: 19.1rem">
              Lot Forntage
            </th>
            <th style="width: 14.6rem">
              Lot Size
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 18.7rem">
              Property Title
            </th>
            <th style="width: 14.1rem">
              Asking Price
            </th>

            <th style="width: 17.1rem">
              Years Built
            </th>
            <th style="width: 24.4rem">
              Street Address
            </th>
            <th style="width: 11rem">
              Unit #
            </th>
            <th style="width: 15.5rem">
              Lot Forntage
            </th>
            <th style="width: 14rem">
              Lot Depth
            </th>
            <th style="width: 12.4rem">
              Lot Size
            </th>
            <th style="width: 15.1rem">
              Lot Irregular
            </th>
            <th style="width: 58.5rem">
              Lot Description
            </th>
            <th style="width: 12.5rem">
              Bedrooms
            </th>
            <th style="width: 22.1rem">
              Bathrooms
            </th>
            <th style="width: 12.8rem">
              Living Size
            </th>
            <th style="width: 14.5rem">
              Parking Spaces
            </th>
            <th style="width: 15rem">
              Garage Spaces
            </th>
            <th style="width: 14.5rem">
              Garage
            </th>
            <th style="width: 16.4rem">
              Driveway
            </th>
            <th style="width: 21.7rem">
              House Type
            </th>
            <th style="width: 16.4rem">
              House Style
            </th>
            <th style="width: 16.4rem">
              Exterior
            </th>
            <th style="width: 12.3rem">
              Water
            </th>
            <th style="width: 12.6rem">
              Sewer
            </th>
            <th style="width: 16.6rem">
              Heat Source
            </th>
            <th style="width: 15.2rem">
              Heat Type
            </th>
            <th style="width: 18.8rem">
              Air Conditioner
            </th>
            <th style="width: 13.9rem">
              Laundry
            </th>
            <th style="width: 14.5rem">
              Fireplace
            </th>
            <th style="width: 18.9rem">
              Central Vacuum
            </th>
            <th style="width: 16.9rem">
              Basement
            </th>
            <th style="width: 15.2rem">
              Pool
            </th>
            <th style="width: 18.4rem">
              Property Taxes
            </th>
            <th style="width: 14.1rem">
              Tax Year
            </th>
            <th style="width: 54.9rem">
              Property Description
            </th>
            <th style="width: 60.9rem">
              Appliances & Other Items
            </th>
            <th style="width: 16.5rem">
              Room Name
            </th>

            <th style="width: 14.2rem">
              Lenght(ft)
            </th>
            <th style="width: 16.1rem">
              Lenght(in)
            </th>
            <th style="width: 14.8rem">
              Width (ft)
            </th>
            <th style="width: 14.9rem">
              Width (in)
            </th>
            <th style="width: 16.8rem">
              Level
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 18.7rem">
              Property Title
            </th>
            <th style="width: 15.8rem">
              Asking Price
            </th>
            <th style="width: 13.1rem">
              Years Built
            </th>
            <th style="width: 26.8rem">
              Street Address
            </th>
            <th style="width: 13.8rem">
              Unit #
            </th>
            <th style="width: 13.8rem">
              Locker
            </th>
            <th style="width: 18rem">
              Condo Corporation
            </th>
            <th style="width: 12.9rem">
              Bedrooms
            </th>
            <th style="width: 22.7rem">
              Bathrooms
            </th>
            <th style="width: 14.7rem">
              Living Space (ft)
            </th>
            <th style="width: 14.5rem">
              Parking Spaces
            </th>
            <th style="width: 15.3rem">
              Garage Spaces
            </th>
            <th style="width: 16.4rem">
              Parking Type
            </th>
            <th style="width: 20rem">
              Parking Ownership
            </th>
            <th style="width: 15.9rem">
              Garage
            </th>


            <th style="width: 16.4rem">
              Condo Type
            </th>
            <th style="width: 15.7rem">
              Condo Style
            </th>
            <th style="width: 18.5rem">
              Exterior
            </th>
            <th style="width: 12rem">
              Balcony
            </th>
            <th style="width: 12.1rem">
              Exposure
            </th>
            <th style="width: 12.4rem">
              Security
            </th>
            <th style="width: 14.3rem">
              Pets Allowed
            </th>
            <th style="width: 18.2rem">
              Utilities Incl.
            </th>
            <th style="width: 12.3rem">
              Water
            </th>
            <th style="width: 12.6rem">
              Sewer
            </th>
            <th style="width: 16.6rem">
              Heat Source
            </th>
            <th style="width: 15.3rem">
              Heat Type
            </th>
            <th style="width: 18.4rem">
              Air Conditioner
            </th>
            <th style="width: 13.9rem">
              Laundry
            </th>
            <th style="width: 14.5rem">
              Fireplace
            </th>
            <th style="width: 18.3rem">
              Central Vacuum
            </th>
            <th style="width: 16.9rem">
              Basement
            </th>
            <th style="width: 15.2rem">
              Pool
            </th>
            <th style="width: 18.4rem">
              Condo/HOA fee
            </th>
            <th style="width: 14.1rem">
              Tax Year
            </th>
            <th style="width: 56.5rem">
              Property Description
            </th>
            <th style="width: 56.3rem">
              Appliances & Other Items
            </th>
            <th style="width: 16.5rem">
              Room Name
            </th>
            <th style="width: 14.2rem">
              Lenght(ft)
            </th>
            <th style="width: 16.1rem">
              Lenght(in)
            </th>


            <th style="width: 14.8rem">
              Width (ft)
            </th>
            <th style="width: 14.9rem">
              Width (in)
            </th>
            <th style="width: 16.8rem">
              Level
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 15.2rem">
              Property Title
            </th>
            <th style="width: 14.3rem">
              Asking Price
            </th>
            <th style="width: 26.2rem">
              Street Address
            </th>
            <th style="width: 17.3rem">
              Lot Frontage (ft)
            </th>
            <th style="width: 15.4rem">
              Lot Depth (ft)
            </th>
            <th style="width: 14.2rem">
              Lot Size (ft)
            </th>
            <th style="width: 19.4rem">
              Is Your Lot Irregular
            </th>
            <th style="width: 54.3rem">
              Lot Description
            </th>
            <th style="width: 18.4rem">
              Property Taxes
            </th>
            <th style="width: 12.1rem">
              Tax Year
            </th>
            <th style="width: 52.3rem;">
              Property Description
            </th>
          </tr>
          </thead>
          <tbody>
            <% @all_users.each do |user| %>
          <tr>
            <td class="fw_500 user_name ">
                  <%= link_to user_profile_users_list_path(id: user) do %>
                    <%= user.full_name %>
                  <%end%>
            </td>
            <td><%= user.email %></td>
            <td><%=user.phone_number%></td>
            <td><%=user.contacted_by_real_estate%></td>
            <td><%=user.address%></td>
            <td><%= user.description %></td>
            <td><%= user.dream_addresses&.last&.location %></td>
            <td><%= user.user_preference&.property_type %></td>
            <td style="color: #00A66C;"><%=user.user_preference&.min_price %> - <%=user.user_preference&.max_price %></td>
            <td><%= user.user_preference&.min_bedrooms %></td>
            <td><%= user.user_preference&.min_bathrooms %></td>
            <td><%= user.user_preference&.property_types %></td>
            <td><%= user.user_preference&.property_style %></td>
            <td><%=user.user_preference&.min_lot_frontage %></td>
            <td><%= user.user_preference&.min_lot_size %> - <%= user.user_preference&.max_lot_size %></td>
            <td><%= user.user_preference&.min_living_space %> - <%= user.user_preference&.max_living_space %></td>
            <td><%= user.user_preference&.parking_spot %></td>
            <td><%= user.user_preference&.garbage_spot %></td>
            <td><%= user.user_preference&.max_age %></td>
            <td><%= user.properties&.last&.type %></td>
<!--            <td style="color: #00A66C;">$25,000 - $30,000</td>-->
            <td><%=  user.properties&.last&.lot_frontage %></td>
            <td><%=  user.properties&.last&.bath_rooms%></td>
            <td><%=  user.properties&.last&.type %></td>
            <td><%=  user.properties&.last&.title %></td>
            <td><%= user.properties&.last&.price  %></td>
            <td><%=user.properties&.last&.year_built %></td>
            <td><%=user.properties&.last&.address %></td>
            <td><%=user.properties&.last&.unit %></td>
            <td><%=user.properties&.last&.locker %></td>
            <td>ABC</td>
            <td><%=user.properties&.last&.bed_rooms %></td>
            <td><%=user.properties&.last&.bath_rooms %></td>
            <td><%=user.properties&.last&.living_space %></td>
            <td><%=user.properties&.last&.total_parking_spaces %></td>
            <td><%=user.properties&.last&.garage_spaces %></td>
            <td><%=user.properties&.last&.parking_type %></td>
            <td><%=user.properties&.last&.parking_ownership %></td>
            <td><%=user.properties&.last&.garage %></td>
            <td><%= user.properties&.last&.condo_type  %></td>
            <td><%= user.properties&.last&.condo_style %></td>
            <td><%= user.properties&.last&.exterior %></td>
            <td><%= user.properties&.last&.balcony %></td>
            <td><%= user.properties&.last&.exposure %></td>
            <td><%= user.properties&.last&.security %></td>
            <td><%= user.properties&.last&.pets_allowed %></td>
            <td><%= user.properties&.last&.included_utilities %></td>
            <td><%= user.properties&.last&.water %></td>
            <td><%= user.properties&.last&.sewer %></td>
            <td><%= user.properties&.last&.heat_source %></td>
            <td><%= user.properties&.last&.heat_type %></td>
            <td><%= user.properties&.last&.air_conditioner %></td>
            <td><%= user.properties&.last&.laundry %></td>
            <td><%= user.properties&.last&.fireplace %> </td>
            <td><%= user.properties&.last&.central_vacuum %></td>
            <td><%= user.properties&.last&.basement %></td>
            <td><%= user.properties&.last&.pool %></td>
            <td>$342</td>
            <td>2006</td>
            <td><%= user.properties&.last&.lot_description %></td>
            <td><%= user.properties&.last&.appliances_and_other_items%></td>
            <td>Kitchen</td>
            <td>40ft</td>
            <td>40in</td>
            <td>20ft</td>
            <td>20in </td>
            <td>Main Floor</td>
            <td><%= user.properties&.last&.type %></td>
            <td>
              <div style="display: flex; align-items: center;">

                Clean Land
                <div style=" width: .8rem; height:1rem; margin-left: 1rem;">
                  <img src="assets/images/downArrow.svg" alt="">
                </div>
              </div>
            </td>
            <td style="color: #00A66C;"><%=  user.properties&.last&.price %></td>
            <td><%=  user.properties&.last&.address %></td>
            <td>23ft</td>
            <td>23ft</td>
            <td>23ft</td>
            <td><%=  user.properties&.last&.is_lot_irregular %></td>
            <td><%=  user.properties&.last&.lot_description %>.</td>
            <td><%= user.properties&.last&.property_tax %></td>
            <td><%=  user.properties&.last&.tax_year %></td>
            <td><%= user.properties&.last&.property_description  %></td>

          </tr>
          <%end%>
          </tbody>
        </table>
      </div>
      <%= render 'shared/pagination' ,data:@all_users%>
    </div>
  </section>
</main>