<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="buy_house" class="main_side">
      <div id="top_header">
        <h1>User's All Data</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="top_blk">
            <li>
              <div class="dropdown">
                <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                  <div class="img_blk">
                    <%= image_tag 'filter.svg', alt: '' %>
                  </div>
                  filters
                </button>
                  <%= render 'shared/drop_down' %>
              </div>
            </li>
            <li>
              <div class="form_blk">
                <div class="icon_blk">
                  <%= image_tag 'search.svg', alt: '' %>
                </div>
                <input type="search" placeholder="Search" class="input">
              </div>
            </li>
            <li>
              <button type="button" class="filter">
                <div class="img_blk">
                  <%= image_tag 'csv-file-icon.svg', alt: '' %>
                </div>
                Download CSV
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="table_blk">
        <table class="mt-5">
          <thead>
          <tr>
            <th style="width: 18.7rem">
              Full Name
            </th>
            <th style="width: 17.2rem">
              Email Address
            </th>
            <th style="width: 20.6rem">
              Phone No.
            </th>
            <th style="width: 17.1rem">
              Real State Agent
            </th>
            <th style="width: 22.5rem">
              Address
            </th>
            <th style="width: 26.3rem">
              Bio
            </th>
            <th style="width: 26rem">
              Dream Address
            </th>
            <th style="width: 19.1rem">
              Property Type
            </th>
            <th style="width: 16.9rem">
              Price Range
            </th>
            <th style="width: 16rem">
              Min Bedrooms
            </th>
            <th style="width: 20.1rem">
              Min Bathrooms
            </th>
            <th style="width: 19.9rem">
              Property Types
            </th>
            <th style="width: 18rem">
              Property Styles
            </th>
            <th style="width: 19.1rem">
              Min Lot Forntage
            </th>
            <th style="width: 12.9rem">
              Lot Size
            </th>
            <th style="width: 16rem">
              Living Space
            </th>
            <th style="width: 20.1rem">
              Parking Spots Req.
            </th>
            <th style="width: 19.9rem">
              Garage Spots Req.
            </th>
            <th style="width: 13.3rem">
              Max Age
            </th>
            <th style="width: 17.2rem">
              Property Type
            </th>
            <th style="width: 20.6rem">
              Price Range
            </th>
            <th style="width: 17.1rem">
              Min Bedrooms
            </th>
            <th style="width: 24.5rem">
              Min Bathrooms
            </th>
            <th style="width: 22.3rem">
              Property Types
            </th>
            <th style="width: 18.6rem">
              Property Styles
            </th>
            <th style="width: 16rem">
              Living Space
            </th>
            <th style="width: 20.1rem">
              Parking Spots Req.
            </th>
            <th style="width: 12.8rem">
              Balcony
            </th>
            <th style="width: 13rem">
              Security
            </th>
            <th style="width: 13rem">
              Laundry
            </th>
            <th style="width: 12.2rem">
              Max Age
            </th>
            <th style="width: 17.2rem">
              Property Type
            </th>
            <th style="width: 21.3rem">
              Price Range
            </th>
            <th style="width: 19.1rem">
              Min Lot Forntage
            </th>
            <th style="width: 14.6rem">
              Lot Size
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 18.7rem">
              Property Title
            </th>
            <th style="width: 14.1rem">
              Asking Price
            </th>

            <th style="width: 17.1rem">
              Years Built
            </th>
            <th style="width: 24.4rem">
              Street Address
            </th>
            <th style="width: 11rem">
              Unit #
            </th>
            <th style="width: 15.5rem">
              Lot Forntage
            </th>
            <th style="width: 14rem">
              Lot Depth
            </th>
            <th style="width: 12.4rem">
              Lot Size
            </th>
            <th style="width: 15.1rem">
              Lot Irregular
            </th>
            <th style="width: 58.5rem">
              Lot Description
            </th>
            <th style="width: 12.5rem">
              Bedrooms
            </th>
            <th style="width: 22.1rem">
              Bathrooms
            </th>
            <th style="width: 12.8rem">
              Living Size
            </th>
            <th style="width: 14.5rem">
              Parking Spaces
            </th>
            <th style="width: 15rem">
              Garage Spaces
            </th>
            <th style="width: 14.5rem">
              Garage
            </th>
            <th style="width: 16.4rem">
              Driveway
            </th>
            <th style="width: 21.7rem">
              House Type
            </th>
            <th style="width: 16.4rem">
              House Style
            </th>
            <th style="width: 16.4rem">
              Exterior
            </th>
            <th style="width: 12.3rem">
              Water
            </th>
            <th style="width: 12.6rem">
              Sewer
            </th>
            <th style="width: 16.6rem">
              Heat Source
            </th>
            <th style="width: 15.2rem">
              Heat Type
            </th>
            <th style="width: 18.8rem">
              Air Conditioner
            </th>
            <th style="width: 13.9rem">
              Laundry
            </th>
            <th style="width: 14.5rem">
              Fireplace
            </th>
            <th style="width: 18.9rem">
              Central Vacuum
            </th>
            <th style="width: 16.9rem">
              Basement
            </th>
            <th style="width: 15.2rem">
              Pool
            </th>
            <th style="width: 18.4rem">
              Property Taxes
            </th>
            <th style="width: 14.1rem">
              Tax Year
            </th>
            <th style="width: 54.9rem">
              Property Description
            </th>
            <th style="width: 60.9rem">
              Appliances & Other Items
            </th>
            <th style="width: 16.5rem">
              Room Name
            </th>

            <th style="width: 14.2rem">
              Lenght(ft)
            </th>
            <th style="width: 16.1rem">
              Lenght(in)
            </th>
            <th style="width: 14.8rem">
              Width (ft)
            </th>
            <th style="width: 14.9rem">
              Width (in)
            </th>
            <th style="width: 16.8rem">
              Level
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 18.7rem">
              Property Title
            </th>
            <th style="width: 15.8rem">
              Asking Price
            </th>
            <th style="width: 13.1rem">
              Years Built
            </th>
            <th style="width: 26.8rem">
              Street Address
            </th>
            <th style="width: 13.8rem">
              Unit #
            </th>
            <th style="width: 13.8rem">
              Locker
            </th>
            <th style="width: 18rem">
              Condo Corporation
            </th>
            <th style="width: 12.9rem">
              Bedrooms
            </th>
            <th style="width: 22.7rem">
              Bathrooms
            </th>
            <th style="width: 14.7rem">
              Living Space (ft)
            </th>
            <th style="width: 14.5rem">
              Parking Spaces
            </th>
            <th style="width: 15.3rem">
              Garage Spaces
            </th>
            <th style="width: 16.4rem">
              Parking Type
            </th>
            <th style="width: 20rem">
              Parking Ownership
            </th>
            <th style="width: 15.9rem">
              Garage
            </th>


            <th style="width: 16.4rem">
              Condo Type
            </th>
            <th style="width: 15.7rem">
              Condo Style
            </th>
            <th style="width: 18.5rem">
              Exterior
            </th>
            <th style="width: 12rem">
              Balcony
            </th>
            <th style="width: 12.1rem">
              Exposure
            </th>
            <th style="width: 12.4rem">
              Security
            </th>
            <th style="width: 14.3rem">
              Pets Allowed
            </th>
            <th style="width: 18.2rem">
              Utilities Incl.
            </th>
            <th style="width: 12.3rem">
              Water
            </th>
            <th style="width: 12.6rem">
              Sewer
            </th>
            <th style="width: 16.6rem">
              Heat Source
            </th>
            <th style="width: 15.3rem">
              Heat Type
            </th>
            <th style="width: 18.4rem">
              Air Conditioner
            </th>
            <th style="width: 13.9rem">
              Laundry
            </th>
            <th style="width: 14.5rem">
              Fireplace
            </th>
            <th style="width: 18.3rem">
              Central Vacuum
            </th>
            <th style="width: 16.9rem">
              Basement
            </th>
            <th style="width: 15.2rem">
              Pool
            </th>
            <th style="width: 18.4rem">
              Condo/HOA fee
            </th>
            <th style="width: 14.1rem">
              Tax Year
            </th>
            <th style="width: 56.5rem">
              Property Description
            </th>
            <th style="width: 56.3rem">
              Appliances & Other Items
            </th>
            <th style="width: 16.5rem">
              Room Name
            </th>
            <th style="width: 14.2rem">
              Lenght(ft)
            </th>
            <th style="width: 16.1rem">
              Lenght(in)
            </th>


            <th style="width: 14.8rem">
              Width (ft)
            </th>
            <th style="width: 14.9rem">
              Width (in)
            </th>
            <th style="width: 16.8rem">
              Level
            </th>
            <th style="width: 14.4rem">
              Property Type
            </th>
            <th style="width: 15.2rem">
              Property Title
            </th>
            <th style="width: 14.3rem">
              Asking Price
            </th>
            <th style="width: 26.2rem">
              Street Address
            </th>
            <th style="width: 17.3rem">
              Lot Frontage (ft)
            </th>
            <th style="width: 15.4rem">
              Lot Depth (ft)
            </th>
            <th style="width: 14.2rem">
              Lot Size (ft)
            </th>
            <th style="width: 19.4rem">
              Is Your Lot Irregular
            </th>
            <th style="width: 54.3rem">
              Lot Description
            </th>
            <th style="width: 18.4rem">
              Property Taxes
            </th>
            <th style="width: 12.1rem">
              Tax Year
            </th>
            <th style="width: 52.3rem;">
              Property Description
            </th>
          </tr>
          </thead>
          <tbody>
            <% @all_users.each do |user| %>
          <tr>

            <td class="fw_500 user_name "><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%=user.phone_number%></td>
            <td><%=user.contacted_by_real_estate%></td>
            <td><%=user.address%></td>
            <td>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation venia</td>
            <td>4140 Parker Rd. Allentown, New Mexico 31134, 6391 Elgin St. Celina, Delaware 10299</td>
            <td>House</td>
            <td style="color: #00A66C;">$25,000 - $30,000</td>
            <td>4</td>
            <td>2 Bath + Powder Room</td>
            <td>Multi-Family</td>
            <td>2 Storey</td>
            <td>30</td>
            <td>30ft - 40ft</td>
            <td>30ft - 40ft</td>
            <td>3</td>
            <td>>3</td>
            <td>30</td>
            <td>Condo</td>
            <td style="color: #00A66C;">$25,000 - $30,000</td>
            <td>4</td>
            <td>2 Bath + Powder Room</td>
            <td>Condominium</td>
            <td>Single Storey</td>
            <td>30ft - 40ft</td>
            <td>3</td>
            <td>Yes</td>
            <td>Cameras</td>
            <td>In Suite</td>
            <td>30</td>
            <td>Vacant Land</td>
            <td style="color: #00A66C">$25,000 - $30,000</td>
            <td>30</td>
            <td>30ft - 40ft</td>
            <td>House</td>
            <td>
              <div style="display: flex; align-items: center;">

                White Modern House 03
                <div style=" width: .8rem; height:1rem; margin-left: 1rem;">
                  <img src="assets/images/downArrow.svg" alt="">
                </div>
              </div>
            </td>
            <td style="color: #00A66C">$30,000</td>
            <td>1999</td>
            <td>4517 New York Ave. Manchester, Kentucky 39495</td>
            <td>23</td>
            <td>23ft</td>
            <td>23ft</td>
            <td>23ft</td>
            <td>Yes</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>>6</td>
            <td>4 Bath + Powder Room</td>
            <td>23ft</td>
            <td>3</td>
            <td>3</td>
            <td>Detached</td>
            <td>Right of Way</td>
            <td>Townhouse</td>
            <td>3 Storey</td>
            <td>Aluminum Siding</td>
            <td>Municipal</td>
            <td>Septic</td>
            <td>Ground Source</td>
            <td>Forced Air</td>
            <td>Central Air</td>
            <td>Has Laundry</td>
            <td>Wood Stove</td>
            <td>Yes</td>
            <td>Partial Basement</td>
            <td>Above Ground</td>
            <td>$342</td>
            <td>2006</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>Kitchen</td>
            <td>G40ft</td>
            <td>40in</td>
            <td>20ft</td>
            <td>20in</td>
            <td>Main Floor</td>
            <td>Condo</td>

            <td>
              <div style="display: flex; align-items: center;">

                Compact Condo 02
                <div style=" width: .8rem; height:1rem; margin-left: 1rem;">
                  <img src="assets/images/downArrow.svg" alt="">
                </div>
              </div>
            </td>
            <td style="color: #00A66C;">$12,000</td>
            <td>1999</td>
            <td>4517 New York Ave. Manchester, Kentucky 39495</td>
            <td>23</td>
            <td>Yes</td>
            <td>ABC</td>
            <td>1 Bed + Den</td>
            <td>1 Bath + Powder Room</td>
            <td>34ft</td>
            <td>3</td>
            <td>3</td>
            <td>Underground</td>
            <td>Owned</td>

            <td>Detached</td>
            <td>Condominium</td>
            <td>Single Storey </td>
            <td>Aluminum Siding</td>
            <td>Yes</td>
            <td>North-West</td>
            <td>Doorman</td>
            <td>Size Restriction</td>
            <td>Common Elements</td>
            <td>Municipal</td>
            <td>Septic</td>
            <td>Ground Source</td>
            <td>Forced Air</td>

            <td>Central Air</td>
            <td>In Suite</td>
            <td>Wood Stove </td>
            <td>Yes</td>
            <td>Partial Basement</td>
            <td>Above Ground</td>
            <td>$342</td>
            <td>2006</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>Kitchen</td>
            <td>40ft</td>
            <td>40in</td>
            <td>20ft</td>
            <td>20in </td>
            <td>Main Floor</td>
            <td>Vacant Land</td>
            <td>
              <div style="display: flex; align-items: center;">

                Clean Land
                <div style=" width: .8rem; height:1rem; margin-left: 1rem;">
                  <img src="assets/images/downArrow.svg" alt="">
                </div>
              </div>
            </td>
            <td style="color: #00A66C;">$12,000</td>
            <td>4517 New York Ave. Manchester, Kentucky 39495</td>
            <td>23ft</td>
            <td>23ft</td>
            <td>23ft</td>
            <td>Yes</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
            <td>$342</td>
            <td>2006</td>
            <td>Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of 5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of 1.23 acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood.</td>
          </tr>
          <%end%>
          </tbody>
        </table>
      </div>
      <%= render 'shared/pagination' ,data:@all_users%>
    </div>
  </section>
</main>