<main>


  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="house_details" class="main_side">
      <!-- <div id="top_header">
          <h1>User Info</h1>
          <?php require_once 'includes/header-side.php'; ?>
      </div> -->
      <header id="header">
        <div class="left_arrow">
          <img src="./assets/images/TopLeftArrow.svg" alt="">
        </div>
        <% if @property.type == "House"%>
          <h1 class="page_title">House Details</h1>
        <%elsif @property.type == "Condo" %>
          <h1 class="page_title">Condo Details</h1>
        <%else%>
          <h1 class="page_title">Vacant Land Details</h1>
        <%end%>
      </header>
      <div class="row house_imgs">
        <div class="col-4">
          <div class="main_image">
            <img src="./assets/images/main-image.jpg" alt="">
          </div>
        </div>

        <div class="col-8 side_images">
          <div class="row">
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
            <div class="col-2">
              <div class="side_imgs">
                <img src="./assets/images/side-1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="house_detail_container">
        <div class="row">
          <div class="col-5">
            <h3 class="house_name"><%= @property.title%></h3>
            <h5 class="sub_title"><%= @property.city%>, <%= @property.country%></h5>
          </div>
          <div class="col-3">
            <div class="tag">
              <div class="tag_img_blk">
                <div class="tag_img">
                  <img src="./assets/images/price_tag.svg" alt="">
                </div>
              </div>
              <div class="tag_detail">
                <h5 class="tag_sub_title">Price</h5>
                <h4 class="tag_title"><%= @property.price%></h4>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="tag">
              <div class="tag_img_blk">
                <div class="tag_img">
                  <img src="./assets/images/build-tag.svg" alt="">
                </div>
              </div>
              <div class="tag_detail">
                <h5 class="tag_sub_title">Year Built</h5>
                <h4 class="tag_title">2012</h4>
              </div>
            </div>
          </div>
        </div>
        <p class="house_discptn">Luxurious and upgraded, this 4 bedroom, 4.5 bathroom home of
          5,281 sq. ft. (including poolhouse, per independent third-party measurement) rests on a lot of
          1.23
          acres (per county) on a peaceful cul-de-sac in the Lakeside neighborhood. Richly-appointed
          spaces
          include large gathering areas.
        </p>
      </div>

      <ul class="house_detail_list">
        <li class="detail_item">
          <div class="left_item">Street Address</div>
          <div class="right_item"><%= @property.address%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Unit</div>
          <div class="right_item"><%= @property.unit%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Lot Frontage (sqm)</div>
          <div class="right_item"><%= @property.lot_frontage_unit%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Lot Depth (sqm)</div>
          <div class="right_item"><%= @property.lot_depth_unit %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Lot Size (feet)</div>
          <div class="right_item"><%= @property.lot_size %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Is This Lot Irregular?</div>
          <div class="right_item">No</div>
        </li>
        <li class="detail_item">
          <div class="left_item">Property Taxes</div>
          <div class="right_item"><%= @property.property_tax%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">Tax Year</div>
          <div class="right_item"><%= @property.tax_year%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/bathroom.svg" alt="">
            </div>
            <div>Bath Rooms</div>
          </div>
          <div class="right_item"><%= @property.bath_rooms%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/bedrooms.svg" alt="">
            </div>
            <div>Bed Rooms</div>
          </div>
          <div class="right_item"><%= @property.bed_rooms %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/livingSpace.svg" alt="">
            </div>
            <div>Living Space</div>
          </div>
          <div class="right_item"><%= @property.living_space%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/parkingSpace.svg" alt="">
            </div>
            <div>Parking Spaces</div>
          </div>
          <div class="right_item"><%= @property.total_parking_spaces%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/garajSpace.svg" alt="">
            </div>
            <div>Garage Spaces</div>
          </div>
          <div class="right_item"><%= @property.garage_spaces%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/garagSpace.svg" alt="">
            </div>
            <div>Garage</div>
          </div>
          <div class="right_item"><%= @property.garage %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/driveWay.svg" alt="">
            </div>
            <div>Driveway</div>
          </div>
          <div class="right_item"><%= @property.driveway %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/houseType.svg" alt="">
            </div>
            <div>House Type</div>
          </div>
          <div class="right_item"><%= @property.type%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/houseStyle.svg" alt="">
            </div>
            <div>House Style</div>
          </div>

          <div class="right_item"> <% if @property.type == "House"%>
          <%= @property.house_style %>
        <%elsif @property.type == "Condo" %>
          <%= @property.condo_style %>
        <%else%>
          <h1 class="page_title">Vacant Land </h1>
        <%end%></div>
        </li>

        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/exterior.svg" alt="">
            </div>
            <div>Exterior</div>
          </div>
          <div class="right_item"><%= @property.exterior%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/water.svg" alt="">
            </div>
            <div>Water</div>
          </div>
          <div class="right_item"><%= @property.water%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/sewer.svg" alt="">
            </div>
            <div>Sewer</div>
          </div>
          <div class="right_item"><%= @property.sewer%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/heatSource.svg" alt="">
            </div>
            <div>Heat Source</div>
          </div>
          <div class="right_item"><%= @property.heat_source%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/heatType.svg" alt="">
            </div>
            <div>Heat Type</div>
          </div>
          <div class="right_item"><%= @property.heat_type%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/airCondition.svg" alt="">
            </div>
            <div>Air Conditioner</div>
          </div>
          <div class="right_item"><%= @property.air_conditioner%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/laundary.svg" alt="">
            </div>
            <div>Laundry</div>
          </div>
          <div class="right_item"><%= @property.laundry %></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/firePlace.svg" alt="">
            </div>
            <div>Fireplace</div>
          </div>
          <div class="right_item"><%= @property.fireplace%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/centeralVacum.svg" alt="">
            </div>
            <div>Central Vacuim</div>
          </div>
          <div class="right_item"><%= @property.central_vacuum%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/basement.svg" alt="">
            </div>
            <div>Basement</div>
          </div>
          <div class="right_item"><%= @property.basement%></div>
        </li>
        <li class="detail_item">
          <div class="left_item">
            <div class="icons">
              <img src="./assets/images/pool.svg" alt="">
            </div>
            <div>Pool</div>
          </div>
          <div class="right_item"><%= @property.pool%></div>
        </li>
      </ul>
      <div class="house_detail_container">
        <h6 class="title">Property Description</h6>
        <p class="house_discptn"><%= @property.property_description%>
        </p>
      </div>
      <div class="house_detail_container">
        <h6 class="title">Appliances and other Items</h6>
        <p class="house_discptn"><%= @property.appliances_and_other_items%></p>
      </div>
    </div>
  </section>
</main>
