  <section id="account_section">
    <%= render "shared/sidebar" %>
    <div id="buy_house" class="main_side">
      <div id="top_header">
        <h1>Sell House</h1>
        <%= render "shared/header-side" %>
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="top_blk">
            <li>
              <div class="dropdown">
                <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                  <div class="img_blk">
                    <%= image_tag 'filter.svg', alt: '' %>
                  </div>
                  filters
                </button>
                <%= render "shared/drop_down" %>
              </div>
            </li>
            <li>
              <div class="form_blk">
                <div class="icon_blk">
                  <%= image_tag 'search.svg', alt: '' %>
                </div>
                <input type="search" placeholder="Search" class="input">
              </div>
            </li>
            <li>
              <button type="button" class="filter">
                <div class="img_blk">
                  <%= image_tag 'csv-file-icon.svg', alt: '' %>
                </div>
                <%= link_to "Download CSV",sell_house_users_data_path(format: 'csv', search: params[:search], page: params[:page], checkbox_value:""), id: "downloadbtncustom" %>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="table_blk">
        <table class="mt-5">
          <thead>
            <tr>
              <th style="width: 18.9rem">
                Full Name
              </th>
              <th style="width: 14.4rem">
                Property Type
              </th>
              <th style="width: 18.7rem">
                Post Title
              </th>
              <th style="width: 15.8rem">
                Asking Price
              </th>
              <th style="width: 13.1rem">
                Years Built
              </th>
              <th style="width: 26.8rem">
                Street Address
              </th>
              <th style="width: 11rem">
                Unit #
              </th>
              <th style="width: 14.2rem">
                Lot Depth
              </th>
              <th style="width: 14.2rem">
                Lot Depth Unit
              </th>
              <th style="width: 16.1rem">
                Lot Frontage
              </th>
              <th style="width: 16.1rem">
                Lot Frontage Unit
              </th>
              <th style="width: 14.8rem">
                Lot Size
              </th>
              <th style="width: 14.8rem">
                Lot Size Unit
              </th>
              <th style="width: 19.4rem">
                Is Your Lot Irregular
              </th>
              <th style="width: 54.3rem">
                Lot Description
              </th>
              <th style="width: 12.5rem">
                Bedrooms
              </th>
              <th style="width: 22.1rem">
                Bathrooms
              </th>
              <th style="width: 12.8rem">
                Living Size
              </th>
              <th style="width: 14.5rem">
                Parking Spaces
              </th>
              <th style="width: 15rem">
                Garage Spaces
              </th>
              <th style="width: 14.5rem">
                Garage
              </th>
              <th style="width: 16.4rem">
                Driveway
              </th>
              <th style="width: 21.7rem">
                House Type
              </th>
              <th style="width: 16.4rem">
                House Style
              </th>
              <th style="width: 16.4rem">
                Exterior
              </th>
              <th style="width: 12.3rem">
                Water
              </th>
              <th style="width: 12.6rem">
                Sewer
              </th>
              <th style="width: 16.4rem">
                Heat Source
              </th>
              <th style="width: 15.3rem">
                Heat Type
              </th>
              <th style="width: 18.8rem">
                Air Conditioner
              </th>
              <th style="width: 13.9rem">
                Laundry
              </th>
              <th style="width: 14.5rem">
                Fireplace
              </th>
              <th style="width: 18.9rem">
                Central Vacuum
              </th>
              <th style="width: 16.9rem">
                Basement
              </th>

              <th style="width: 15.2rem">
                Pool
              </th>
              <th style="width: 18.4rem">
                Property Taxes
              </th>
              <th style="width: 14.1rem">
                Tax Year
              </th>
              <th style="width: 54.9rem">
                Property Description
              </th>
              <th style="width: 60.4rem">
                Appliances & Other Items
              </th>
              <th style="width: 16.5rem">
                No. of Rooms
              </th>
              <th>
                Level
              </th>
            </tr>
          </thead>
          <tbody>
            <% @houses.each do |house|%>
            <tr>
              <td class="fw_500 user_name ">
              <%= house.user.full_name%></td>
              <td><%= house.type%></td>
              <td><%= house.title%></td>
              <td style="color: #00A66C;"><%= house.price%></td>
              <td><%= house.year_built%></td>
              <td><%= house.address%></td>
              <td><%= house.unit%></td>
              <td><%= house.lot_depth%></td>
              <td><%= house.lot_depth_unit%></td>
              <td><%= house.lot_frontage%></td>
              <td><%= house.lot_frontage_unit%></td>
              <td><%= house.lot_size%></td>
              <td><%= house.lot_size_unit%></td>
              <td><%= house.is_lot_irregular%></td>
              <td><%= house.lot_description%></td>
              <td>><%= house.bed_rooms%></td>
              <td><%= house.bath_rooms%></td>
              <td>23ft</td>
              <td><%= house.total_parking_spaces%></td>
              <td><%= house.garage_spaces%></td>
              <td><%= house.garage%></td>
              <td><%=house.driveway%></td>
              <td><%= house.condo_type%></td>
              <td><%= house.condo_style%></td>
              <td><%= house.exterior%></td>
              <td><%= house.water%></td>
              <td><%= house.sewer%></td>
              <td><%= house.heat_source%></td>
              <td><%= house.heat_type%></td>
              <td><%= house.air_conditioner%></td>
              <td><%= house.laundry%></td>
              <td><%= house.fireplace%></td>
              <td><%= house.central_vacuum%></td>
              <td><%= house.basement%></td>
              <td><%= house.pool%></td>
              <td><%= house.property_tax%></td>
              <td><%= house.tax_year%></td>             
              <td><%= house.property_description%></td>
              <td><%= house.appliances_and_other_items%></td>
              <td><%= house.total_number_of_rooms%></td>
            </tr>
            <% end%>
          </tr>
        </tbody>
      </table>
    </div>
      <%= render 'shared/pagination' ,data: @houses%>
  </div>
</section>
