<main>
  <section id="sign_in" style="background-image: url('/assets/loginbg.jpg');">
    <div class="contain">
      <div class="flex_blk align-items-center">
        <div>
          <div class="logo_blk">
            <%= image_tag 'logo.svg', alt: 'icon' %>
          </div>
          <h2>Sign in to manage</h2>
          <% if params[:admin].present? && !params[:admin][:password].blank? %>
            <p style="position:absolute; left:1%; font-weight:600; margin-top:50px; color:red; font-size:16px;"><%= alert %></p>
          <% end %>
          <p>Enter your detail below</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <%= render "devise/shared/error_messages", resource: resource %>
            <label for="">Email Address</label>
            <div class="form_blk">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Type Here', class: 'input' %>
            </div>
            <% if params[:admin].present? && params[:admin][:email].blank? %>
              <p style="color:red; font-size:16px;">Email can't be blank.</p>
            <% end %>
            <div class="d-flex align-items-center justify-content-between">
              <label for="">Password</label>
              <%= link_to "Forgot Password?", new_password_path(resource_name) %>
            </div>
            <div class="form_blk mb-0">
              <div class="icon_blk">
                <%= image_tag 'lockIcon.svg', alt: 'icon' %>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Type Here',class: 'input' %>
            </div>
            <% if params[:admin].present? && params[:admin][:password].blank? %>
              <p style="color:red; font-size:16px;">Password can't be blank.</p>
            <% end %>
            <div class="btn_blk">
              <button type="submit" class="site_btn">Sign In</button>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</main>
