<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="dash" class="main_side">
      <div id="top_header">
        <h1>Dashboard</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row flex_row dash_row">
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-arrow-down.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= csv_count = Setting.last ? Setting.last.csv_count : 0 %></div>
              <p>No. of downloads</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-user.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= User.count_active_user.count %></div>
              <p>No. of active users</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-user.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= User.get_support_closer_user.count %></div>
              <p>No. of support closers</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-home.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= Property.count_house %></div>
              <p>No. of Houses for Sale</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-building.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= Property.count_condo %></div>
              <p>No. of Condos for Sale</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-plants.svg" alt=""></div>
            <div class="txt">
              <div class="num"><%= Property.count_vacant_land %></div>
              <p>No. of Vacant Lands for Sale</p>
            </div>
          </div>
        </div>
      </div>
      <div class="table_head">
        <h3>New Users</h3>

        <div class="right_blk">
          <button type="button" class="csv_btn me-3">
            <div class="img_blk">
              <img src="/assets/csv-file-icon.svg" alt="">
            </div>
            <%= link_to "Download CSV", dashboards_path(format: 'csv', search: params[:search], checkbox_value: ""), id: "downloadbtncustom" %>
          </button>
          <%= form_tag dashboards_path, id: :searchformc, method: :get do %>
            <div style="display: flex;">
              <div class="form_blk mb-0 me-3">
                <div class="calender_blk">
                  <img src="/assets/calendar.svg" alt="">
                </div>
                <%= text_field_tag 'start_date', params[:start_date], placeholder: "From", class: 'datepicker',id: "start_date" %>
              </div>
              <div class="form_blk">
                <div class="calender_blk">
                  <img src="/assets/calendar.svg" alt="">
                </div>
                <%= text_field_tag 'end_date', params[:end_date], placeholder: "to", class: 'datepicker', id: 'end_date' %>
              </div>
            </div>
            </div>
          <% end %>
          </div>
      <div class="table_blk mt-5 pt-3">
        <table>
          <thead>
          <tr>
            <th style="width:12.2rem">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="me-2" id="selectedallcheckboxes">
                Select all
              </div>
            </th>
            <th style="width: 19rem;">
              Name/Email
            </th>
            <th style="width:12.2rem">
              Phone No.
            </th>
            <th style="width:17.2rem">
              Real State Agent
            </th>
            <th style="width:28.3rem">
              Address
            </th>
            <th style="width: 14rem">
              Join Date
            </th>
          </tr>
          </thead>
          <tbody>
          <% if @new_users.present? %>
            <% @new_users.each do |new_user| %>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <input type="checkbox" name="selected_checkbox" class="me-3" id="<%= new_user.id %>">
                    <div class="img_blk">
                      <%= image_tag new_user.avatar if new_user.avatar.attached? %>
                    </div>
                  </div>
                </td>
                <td class=" user_name">
                  <p class="fw_500 mb-0">
                    <%= new_user.full_name %>
                  </p>
                  <p class="fw_400" style="color: #626262" style="color: #626262">
                    <%= new_user.email %>
                  </p>
                </td>
                <td><%= new_user.phone_number %></td>
                <td><%= new_user.contacted_by_real_estate %></td>
                <td><%= new_user.address %></td>
                <td><%= new_user.created_at %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render 'shared/pagination', data: @new_users %>
    </div>
  </section>
</main>
<script>
    $(".datepicker").focusout(function (){
        let id = $(this).attr('id');
        let _value = $("#"+id).val();
        if (_value.length > 0)
        {
            if(id == "end_date")
            {
                $("#searchformc").submit();
            }
        }
    })
</script>