<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="notify" class="main_side">
      <div id="top_header">
        <h1>Notifications</h1>
      </div>
      <ul class="list">
        <% AdminNotification.user_create.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <% if nft&.recipient&.support_closer? %>
                    <h6><%= link_to 'See Notification', support_closers_path(id: nft.id) %></h6>
                  <% else %>
                    <h6><%= link_to 'See Notification', dashboards_path(id: nft.id) %></h6>
                  <% end %>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>

        <% AdminNotification.active_deactive.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <% if nft&.recipient&.support_closer? %>
                    <h6><%= link_to 'See Notification', support_closers_path(id: nft.id) %></h6>
                  <% else %>
                    <h6><%= link_to 'See Notification', users_lists_path(id: nft.id) %></h6>
                  <% end %>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>
        <% AdminNotification.admin_create.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <h6><%= link_to 'See Notification', sub_admins_path(id: nft.id) %></h6>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>

        <% AdminNotification.sub_admin_active_deactive.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <h6><%= link_to 'See Notification', sub_admins_path(id: nft.id) %></h6>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>
        <% AdminNotification.ticket.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <h6><%= link_to 'See Notification', supports_path(id: nft.id) %></h6>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>
        <% AdminNotification.reporting.reverse_each do |nft| %>
          <li>
            <div class="notif_blk">
              <div class="detail_blk">
                <div class="img">
                  <img src="assets/images/icon-notifi.svg" alt="">
                </div>
                <div class="text">
                  <h6 class="mb-0"><%= nft.action %></h6>
                  <p></p>
                  <h6><%= link_to 'See Notification', supports_path(id: nft.id) %></h6>
                </div>
              </div>
              <p class="time"><%= time_ago_in_words(nft.created_at) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
