$(".chat_msg").append(
    '<div class="support_msg">'+
    '<div class="d-flex flex-column">'+
    '<div class="msg">'+
    '<p><%= @conversation.body %></p>'+
    `<% if @conversation&.image&.attached? %>
    <%= image_tag @conversation&.image&.url, alt: "" %>
    <%= link_to "#{File.basename(@conversation.image.filename.to_s)}", @conversation.image.url, download: true, target: "_blank" %>
    <% elsif @conversation&.file&.attached? %>
    <embed src="<%= @conversation&.file&.url %>" type="application/pdf" width="100%" height="200px" />
    <%= link_to "#{File.basename(@conversation.file.filename.to_s)}", @conversation.file.url, download: true, target: "_blank" %>
    <% end %>`+
    '</div>'+
    '<p class="msg_time mt-2"><%= time_ago_in_words(@conversation.created_at) %></p>'+
    '</div>'+
    '<div class="profile_pic">'+
    '<div class="img_blk">'+
    '<img src="/assets/logosmall-9e07e335886787ba1a8cbd58506cb2edac7f8e62a7c82b33affda5ba8c3bbb49.svg">'+
    '</div>'+
    '</div>'+
    '</div>'
);
$(".chat_msg").scrollTop($(".chat_msg")[0].scrollHeight);
$("#typemessage").val('');
$("#submitaddfile").val('')
$("#submitaddphoto").val('');
