var last_date_div= document.querySelector("[data-last_date]")
if (last_date_div.dataset.last_date !== '<%= @conversation.created_at.strftime("%D") %>')
{
  $(".chat_msg").append(
    `<div class="mt-5 d-flex chat_date">
      <span><%= @conversation.created_at.strftime("%d %B %Y") %></span>
    </div>`
  )
  last_date_div.dataset.last_date='<%= @conversation.created_at.strftime("%D") %>'
}
$(".chat_msg").append(
  '<div class="support_msg">'+
  '<div class="d-flex flex-column">'+
  '<div class="msg">'+
  '<p><%= @conversation.body %></p>'+
  `<% if @conversation&.image&.attached? %>
  <div class="preview-container" style="position: relative; display: flex; align-items: center;">
  <%= image_tag @conversation&.image&.url, alt: "", style: "flex: 1; max-width: 80%;" %>
  <%= link_to @conversation.image.url, download: true, target: "_blank", class: "download-link", style: "position: absolute; right: 10px;" do %>
  <%= image_tag 'icon-arrow-bottom.svg', alt: "Download", size: "32x32", class: "download-icon" %>
  <% end %>
  </div>
  <% elsif @conversation&.file&.attached? %>
  <div class="preview-container" style="position: relative; display: flex; align-items: center;">
  <embed src="<%= @conversation&.file&.url %>" type="application/pdf" width="100%" height="200px" style="flex: 1; max-width: 80%;" />
  <%= link_to @conversation.file.url, download: true, target: "_blank", class: "download-link", style: "position: absolute; right: 10px;" do %>
  <%= image_tag 'icon-arrow-bottom.svg', alt: "Download", size: "32x32", class: "download-icon" %>
  <% end %>
  </div>
  <% end %>`+
  '</div>'+
  '<p class="msg_time mt-2"><%= time_ago_in_words(@conversation.created_at) %></p>'+
  '</div>'+
  '<div class="profile_pic">'+
  '<div class="img_blk">'+
  '<img src="/assets/logosmall-9e07e335886787ba1a8cbd58506cb2edac7f8e62a7c82b33affda5ba8c3bbb49.svg">'+
  '</div>'+
  '</div>'+
  '</div>'
);
$(".chat_msg").scrollTop($(".chat_msg")[0].scrollHeight);
$("#typemessage").val('');
$("#submitaddfile").val('')
$("#submitaddphoto").val('');
