<style>
   .active_heading_color
   {
       color:white !important;
   }
</style>
<section id="account_section">
  <%= render "shared/sidebar" %>
  <div id="support" class="main_side">
    <div id="top_header">
      <h1>Support</h1>
      <%= render "shared/header-side" %>
    </div>
    <div class="row">
      <div class="col-4" style="width: 32rem;">
        <ul class="tabs nav scrollbar">
          <li>
            <a href="#end_users" data-bs-toggle="tab" class="<%= @message&.conv_type == "end_user" ? " show active" : "" %>">
              End Users
            </a>
          </li>
          <li>
            <a href="#support_closers" data-bs-toggle="tab" class="<%= @message&.conv_type == "support_closer" ? " show active" : "" %> ">
              Support Closers
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="end_users" class="tab-pane fade <%= @message&.conv_type == "end_user" ? " show active" : "" %>">
            <ul class="chats active">
              <% @end_users.each do |record| %>
                <li>
                  <%= link_to get_specific_chat_support_path(id: record) do %>
                    <div class="chat_blk <%= record == @message ? 'active-bg' : "" %>">
                      <div class="chat_blk_left">
                        <div class="profile_blk">
                          <%= image_tag record&.sender&.avatar&.attached? ? record&.sender&.avatar&.url : "", alt: "" %>
                        </div>
                        <div class="profile_name">
                          <p class="<%= record == @message ? 'active_heading_color' : '' %>"><%= record.sender.full_name %></p>
                          <span class="<%= record == @message ? 'active_heading_color' : '' %>"><%= record.support_messages.last&.body %></span>
                        </div>
                      </div>
                      <div class="time">
                        <p><%= record.created_at.strftime("%H:%M") %></p>
                        <div class="message_count"><%= unread_count(record) %></div>
                        <div class="online"></div>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div id="support_closers" class="tab-pane fade <%= @message&.conv_type == "support_closer" ? " show active" : "" %> ">
            <ul class=" chats">
              <% @support_closers.each do |record| %>
                <li>
                  <%= link_to get_specific_chat_support_path(id: record) do %>
                    <div class="chat_blk <%= record == @message ? 'active-bg' : '' %>">
                      <div class="chat_blk_left">
                        <div class="profile_blk">
                          <%= image_tag record&.sender&.avatar&.attached? ? record&.sender&.avatar&.url : '', alt: "" %>
                        </div>
                        <div class="profile_name">
                          <p class="<%= record == @message ? 'active_heading_color' : '' %>"><%= record.sender.full_name %></p>
                          <span class="<%= record == @message ? 'active_heading_color' : '' %>"><%= record.support_messages.last&.body %></span>
                        </div>
                      </div>
                      <div class="time">
                        <p><%= record.created_at.strftime("%H:%M") %></p>
                        <div class="message_count"><%= unread_count(record) %></div>
                        <div class="online"></div>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="chat_sec">
          <div class="top_blk">
            <div class="tag chat_box<%= @message&.id %> " data-id="<%= @message&.id %>" id="chatmessagebox">
              <%= @message.present? ? @message.support.ticket_number : "No Ticket Present" %>
            </div>
            <div class="dropdown">
              <button class="select dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Mark as
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <% if @message %>
                    <%= link_to "Pending", ticket_pending_support_path(id: @message.support.id), class: "dropdown-item", remote: true %>
                  <% end %>
                </li>
                <li>
                  <% if @message %>
                    <%= link_to "In progress", ticket_in_progress_support_path(id: @message.support.id), class: "dropdown-item", remote: true %>
                  <% end %>
                </li>
                <li>
                  <% if @message %>
                    <%= link_to "Closed", ticket_closed_support_path(id: @message&.support.id), class: "dropdown-item", remote: true %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="chat_msg">
            <% last_date = nil %>
            <% @message&.support_messages&.order(created_at: :asc).each do |record| %>
              <% if last_date != record.created_at.strftime("%D") %>
                <div class="mt-5 d-flex chat_date">
                  <span><%= record.created_at.strftime("%d %B %Y") %></span>
                </div>
                <% last_date = record.created_at.strftime("%D") %>
              <% end %>
              <% if record.type == "AdminSupportMessage" %>
                <div class="support_msg">
                  <div class="d-flex flex-column">
                    <div class="msg">
                      <p><%= record.body %></p>
                      <% if record&.image&.attached? %>
                        <%= image_tag record&.image&.url, alt: "" %>
                        <%= link_to "#{File.basename(record.image.filename.to_s)}", record.image.url, download: true, target: "_blank" %>
                      <% end %>
                      <% if record&.file&.attached? %>
                        <embed src="<%= record&.file&.url %>" type="application/pdf" width="100%" height="200px" />
                        <%= link_to "#{File.basename(record.file.filename.to_s)}", record.file.url, download: true, target: "_blank" %>
                      <% end %>
                    </div>
                    <p class="msg_time mt-2"><%= time_ago_in_words(record.created_at) %></p>
                  </div>

                  <div class="profile_pic">
                    <div class="img_blk">
                      <%= image_tag "logosmall.svg" %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="user_msg">
                  <div class="profile_pic">
                    <div class="img_blk">
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="msg">
                      <p><%= record.body %></p>
                      <% if record&.image&.attached? %>
                        <%= image_tag record&.image&.url, alt: "" %>
                        <%= link_to "#{File.basename(record.image.filename.to_s)}", record.image.url, download: true, target: "_blank" %>
                      <% elsif record&.file&.attached? %>
                        <embed src="<%= record&.file&.url %>" type="application/pdf" width="100%" height="200px" />
                        <%= link_to "#{File.basename(record.file.filename.to_s)}", record.file.url, download: true, target: "_blank" %>
                      <% end %>
                    </div>
                    <p class="msg_time mt-2"> <%= time_ago_in_words(record.created_at) %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
        <hr>
        <div class="msg_blk">
          <%= form_with(url: supports_path, :id => 'filter_form', local: false, method: :post, class: "w-100") do |f| %>
            <%= hidden_field_tag :id, @message&.id %>
            <div class="d-flex">
              <div class="msg_type">
                <div class="icon_blk">
                  <%= image_tag "attactFile.svg", alt: "attachFile", id: "clickaddfile" %>
                  <%= f.file_field :file, accept: 'application/pdf', id: "submitaddfile", class: "file-input", style: "opacity:0" %>
                </div>
                <div class="icon_blk">
                  <%= image_tag "addphoto.svg", alt: "Photo", id: "clickaddphoto" %>
                  <%= f.file_field :image, accept: "image/png, image/gif, image/jpeg", id: "submitaddphoto", class: "file-input", style: "opacity:0" %>
                </div>
                <div class="form_blk w-100">
                  <%= f.text_field :text, class: 'input emoji-picker', id: "typemessage", placeholder: "Write your message here" %>
                </div>
              </div>
              <span id="file_name_container" style="color: black; display: inline;"></span>
              <span id="photo_name_container" style="color: black; display: inline;"></span>
              <button type="submit" id="send_btn">
                <%= image_tag "sendMessage.svg", alt: "send message" %>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
  $('.file-input').change(function () {
    var files = $(this)[0].files;
    var containerId = $(this).attr('id') === 'submitaddfile' ? '#file_name_container' : '#photo_name_container';
    var fileNames = [];

    for (var i = 0; i < files.length; i++) {
      fileNames.push(files[i].name);
    }

    $(containerId).text(fileNames.join(', '));
  });
  $(".chat_msg").scrollTop($(".chat_msg")[0].scrollHeight);
  // $(".emoji-picker").emojioneArea(); // Initialize emoji picker
  $(".emoji-picker").not('.emojionearea-initialized').each(function() {
    $(this).addClass('emojionearea-initialized').emojioneArea(); // Initialize emoji picker
  });
});

$(document).on('load', function () {
  $(".chat_msg").scrollTop($(".chat_msg")[0].scrollHeight);
});

$("#send_btn").on("click", function (e) {
  $('#file_name_container').text(''); // Clear file_name_container
  $('#photo_name_container').text(''); // Clear photo_name_container

  let text = $('#typemessage').val();
  text = text.trim();
  if (($('#typemessage').val() == '' || text == '') && $('#submitaddphoto').val() == '' && $('#submitaddfile').val() == '') {
    e.preventDefault();
    return false;
  }
  $('.emojionearea-editor').text(''); // Clear text-messages in text_bar
});
</script>
